/* Main container */
.todo-app {
    max-width: 1400px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  }
  
  /* Heading */
  .heading {
    text-align: center;
    font-size: 2.5rem;
    color: #006aff;
    margin-bottom: 20px;
  }
  

.button-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px; /* optional spacing */
}
  